<table style="background-color: #EDEDED;">
    <tr>
        <td style="margin-bottom: -20px;">
            <table style="background-color: white; width: 100%;">
                <tr style="vertical-align: middle;">
                    <td style="width: 5px;"></td>
                    <td>
                        <img src="https://bisque-antelope-888426.hostingersite.com/hr_logo.png"
                            style="margin-top: -6px;"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td style="height: 10px;"></td></tr>
    <tr>
        <td>
            <table style="padding-top: 10px; margin-left: 20px; background-color: #EDEDED;">
                <tr>
                    <td>Empresa: </td>
                    <td>
                        <select [(ngModel)]="empresaSelecionada"
                                style="width: 158px; height: 30px;">
                            <option *ngFor="let empresa of listaEmpresas">
                                {{ empresa.NomeEmpresa }}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>e-mail: </td>
                    <td>
                        <input type="text" [(ngModel)]="jogadorCadastro.email" maxlength="150"
                               style="width: 360px; height: 22px;"/>
                    </td>
                </tr>
                <tr>
                    <td>Nome/Apelido: </td>
                    <td>
                        <input type="text" [(ngModel)]="jogadorCadastro.NomeApelido" maxlength="20"
                               style="width: 210px; height: 22px; text-transform: uppercase;" />
                    </td>
                </tr>
                <tr>
                    <td>Senha: </td>
                    <td>
                        <input type="password" [(ngModel)]="jogadorCadastro.Senha" maxLength="10"
                               style="width: 120px; height: 22px;"/>
                    </td>
                </tr>
                <tr>
                    <td>Regite a Senha: </td>
                    <td>
                        <input type="password" [(ngModel)]="senhaConfirme" [maxLength]="10"
                               style="width: 120px; height: 22px;"/>
                    </td>
                </tr>
                <tr><td colspan="2" style="height: 20px;"></td></tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" (click)="gravar()" class="btn-login">Gravar</button>
                    </td>
                </tr>
                <tr><td colspan="2" style="height: 20px;"></td></tr>
            </table>
        </td>
    </tr>
</table>